@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: source-sans-pro;
	font-weight: 100;
	font-style: normal;
	margin: 0;
	padding: 0;
}

h1 {
	text-transform: uppercase;
	font-family: paytone-one;
}

p {
	max-width: 25em;
}

body {
	padding: 1em;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 2em;
}

a.symbol:before {
  content: attr(title);
  font-size: 130%;
}
