header {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--border);
    padding: var(--padd);
}

.title-date {
    display: flex;
    align-items: baseline;
    gap: var(--padd);
}

date {
    font-size: x-small;
}

h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: x-large;
}

header span {
    font-size: small;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padd);
    padding: var(--padd);
}

.day {
    display: flex;
    border: solid 1px var(--border);
    padding: var(--padd);
    position: relative;
    align-items: center;
    justify-content: center;
}

.day:hover {
    border: solid 1px var(--text);
    cursor: pointer;
}

.day .index {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: x-small;
    color: var(--border);
}

.day .theme {
    font-size: large;
    text-transform: uppercase;
    line-height: 2em;
}

.break {
    flex: 1 1 100%;
}

dialog {
    position: absolute;
    top: 100px;
    left: calc(50% - 150px);
    padding: 0;
    border-color: var(--text);
    resize: both;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 1;
    filter: none;

    header {
        border-bottom: solid 1px var(--text);
        cursor: move;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .close {
        width: 14px;
        height: 14px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        font-size: 0.9rem;
        line-height: 1;
        cursor: pointer;
        background: transparent;
        border-radius: 50%;
        outline: none;
    }

    .title {
        font-size: medium;
        text-transform: uppercase;
    }
}

dialog:not([data-active="true"]) {
    opacity: 0.9;
    border-color: var(--border);
    box-shadow: none;
    filter: grayscale(50%);

    header {
        border-bottom: solid 1px var(--border); 
        color: var(--border);
    }

    .close {
        color: var(--border);
    }
}

dialog iframe {
    display: block;
    flex: 1;
    border: none;
}
